@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('/roboto-v20-latin-300.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('/roboto-v20-latin-500.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/crete-round-v9-latin-regular.woff2') format('woff2');
  font-display: swap;
}

:root {
  --primary-font-family: 'Crete Round', serif;
  --secondary-font-family: 'Roboto', sans-serif;
  --primary-color: #d22365;
  --soft-color: #fff;
  --neutral-color: #f0f0f2;
  --heavy-color: #282c34;
  --warning-color: #ffffd6;
}

body {
  font-family: var(--secondary-font-family);
  font-weight: 300;
  color: var(--heavy-color);
  padding-top: 70px;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
  font-family: var(--primary-font-family);
  font-weight: 700;
  letter-spacing: 1px;
}

strong {
  font-weight: 700;
}

blockquote {
  line-height: 140%;
}

a img {
  transition: .1s;

  &:hover {
    transform: scale(1.1);
    z-index: 1;
    transition: .3s;
  }
}

/*! purgecss start ignore */

pre {
  color: #ddbc72;
  font-size: 1.2rem;
  width: 100%;
  background-color: #282c34;
  line-height: 1.5;
  padding: 0.5rem;
  color: #ddbc72;
}

@media (max-width: 768px) {
  
  pre {
    overflow-x: auto;
  }

}

.token.selector, .token.tag {
  color: #ff5d9a !important;
}

.token.comment {
  color: #9dbcf7 !important;
}

.token.string, .token.attr-value {
  color: #99c47a !important;
}

.token.atrule, .token.keyword {
  color: #e89bff !important;
}

.token.property, .token.boolean, .token.number, .token.constant, .token.symbol, .token.attr-name, .token.deleted {
  color: #e9ac72 !important;
}

.token.function, .token.operator {
  color: #71bfff !important;
}

.token.punctuation {
  color: #b1b8c6 !important;
}

/*! purgecss end ignore */