@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

:root {
  --primary-font-family: 'Crete Round', serif;
  --secondary-font-family: 'Roboto', sans-serif;
  --primary-color: #d22365;
  --soft-color: #fff;
  --neutral-color: #f0f0f2;
  --heavy-color: #282c34;
  --warning-color: #ffffd6;
}

body {
  font-family: var(--secondary-font-family);
  font-weight: 300;
  color: var(--heavy-color);
  padding-top: 70px;
}

h1, h2, h3, h4, h5 {
  font-family: var(--primary-font-family);
  font-weight: 700;
  letter-spacing: 1px;
}

h2 {
  margin-top: 2rem;
}

strong {
  font-weight: 700;
}

pre {
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
}

@media (max-width: 768px) {
  
  pre {
    overflow-x: auto;
  }

}

article p, article h2, article h3, article h4, article pre, article blockquote {
  margin-bottom: 1rem;
}

article a {
  color: var(--primary-color);
}

article em {
  font-weight: 700;
  font-style: normal;
}

article blockquote {
  background-color: var(--warning-color);
  padding: 0.5rem;
}

article blockquote p {
  margin-bottom: 0;
}

article pre code.language-sh {
  background-color: var(--neutral-color);
  color: var(--heavy-color);
  padding: 0.2rem 0.4rem;
  display: block;
}

article pre code.language-jsx {
  display: block;
  font-size: 0.8rem;
  padding: 0.5rem;
  background-color: var(--heavy-color);
}