/*! purgecss start ignore */

article {

  :target::before {
    content: '';
    display: block;
    height: calc(80px + 1rem);
    margin-top: calc(-80px + -1rem);
  }

}

@media (max-width: 768px) {

  article pre code.language-jsx {
    overflow-x: scroll;
  }

}
@media (min-width: 768px) {

  .sidebar {
    height: 80vh;
    top: 20vh;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #484848;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: darken($color: #484848, $amount: 10);
    }
  }

}

/*! purgecss end ignore */