/*! purgecss start ignore */

article {

  :target::before {
    content: '';
    display: block;
    height: calc(80px + 1rem);
    margin-top: calc(-80px + -1rem);
  }

}

@media (max-width: 768px) {

  article pre code.language-jsx {
    overflow-x: scroll;
  }

}

/*! purgecss end ignore */